# This workflow is used to convert changed ark.model.csv to ark.model.jsonld
# and push the updated ark.model.jsonld to feature branch

name: ci-schema-convert

on:
  pull_request:
    branches: [main]
    paths: 
      - 'ark.model.csv'
      - '.github/workflows/ci-schema-convert.yml'
      - 'utils/generate_metadata_templates.sh'

env:
  SCHEMATIC_VERSION: 24.12.1

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SCHEMATIC_SERVICE_ACCOUNT_CREDS: ${{ secrets.SCHEMATIC_SERVICE_ACCOUNT_CREDS }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
      # Set up supported python.
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10.12' 

      - name: Install Schematic
        run: |
          pip install schematicpy==${{ env.SCHEMATIC_VERSION }}
          pip show schematicpy

      - name: Create creds file
        run: |
          echo "${SCHEMATIC_SERVICE_ACCOUNT_CREDS}" > schematic_service_account_creds.json

      - name: Convert .csv to .jsonld
        run: |
          schematic schema convert ark.model.csv

      - name: Generate metadata collection templates defined in model
        run: |
          bash utils/generate_metadata_templates.sh
      
      - name: Generate blank CSV templates from json schema to support dictionary site build
        run: |
          python utils/generate_csv_templates.py

      - name: Clean up sensitive info
        run: |
          rm schematic_service_account_creds.json

      - name: Commit files if there are changes
        run: |
          if [[ $(git status -z) ]]; then 
            echo "Changes to branch files detected, changes will be committed."
            git config --local user.name "$GITHUB_ACTOR"
            git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
            git add .
            git commit -m "committing changes resulting from execution of ci-schema-convert workflow"
          else 
            echo "No changes to branch files detected, nothing to commit"
          fi
    
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         branch: ${{ github.event.pull_request.head.ref }} #The name of the branch being merged into main
         force: true
